.ng-invalid.ng-touched[name="username"] {
  border-bottom: 3px red solid;
}

.ng-valid.ng-touched[name="username"] {
  border-bottom: 3px green solid;
}

.ng-invalid.ng-touched[name="password"] {
  border-bottom: 3px red solid;
}

.ng-valid.ng-touched[name="password"] {
  border-bottom: 3px green solid;
}
