<div class="row">
  <div class="col-8 offset-2">
    <h1 class="text-center">Registration Form</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <!-- username -->
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          name="username"
          id="username"
          placeholder=""
          formControlName="username"
        />
        <label for="username">Username</label>
        <!-- Error Messages -->
        <div *ngIf="username.invalid && (username.touched || username.dirty)">
          <div *ngIf="username.hasError('required')">
            <p class="alert alert-danger">Username field is mandatory</p>
          </div>
          <div *ngIf="username.hasError('email')">
            <p class="alert alert-danger">Should be proper email format</p>
          </div>
        </div>
      </div>

      <!-- password -->
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          name="password"
          id="password"
          placeholder=""
          formControlName="password"
        />
        <label for="password">Password</label>
        <!-- Error Messages -->
        <div *ngIf="password.invalid && (password.touched || password.dirty)">
          <div *ngIf="password.hasError('required')">
            <p class="alert alert-danger">Password field is mandatory</p>
          </div>
          <div *ngIf="password.hasError('minlength')">
            <p class="alert alert-danger">Should have at least 6 character</p>
          </div>
          <div *ngIf="password.hasError('exclamation')">
            <p class="alert alert-danger">Should have exclamation sign (!)</p>
          </div>
        </div>
      </div>

      <!-- Confirm Password -->
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          name="cnfPassword"
          id="cnfPassword"
          placeholder=""
        />
        <label for="cnfPassword">Confirm Password</label>
      </div>

      <!-- buttons -->
      <div class="row">
        <div class="col">
          <div class="d-grid">
            <button
              [disabled]="!registerForm.valid"
              class="btn btn-success"
              type="submit"
            >
              Register
            </button>
          </div>
        </div>
        <div class="col">
          <div class="d-grid">
            <button
              class="btn btn-secondary"
              (click)="registerForm.reset()"
              type="button"
            >
              Reset
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
