<div class="container">
  <h1 appBetterHighlight favColor="grey">App works!</h1>

  <!-- <input type="text" [(ngModel)]="title" />
  <button class="btn btn-primary" (click)="toggle = !toggle">Toggle</button> -->

  <!-- @if (toggle) {
  <app-life-cycle [title]="title"></app-life-cycle>
  } -->

  <!-- <app-life-cycle *ngIf="toggle" [title]="title"></app-life-cycle> -->

  <!-- <app-directives-demo></app-directives-demo> -->

  <!-- <app-pipe-demo></app-pipe-demo> -->

  <app-login></app-login>

  <!-- <app-users></app-users> -->
</div>
