.ng-dirty.ng-invalid[name="email"] {
  border-left: 4px red solid;
}

.ng-dirty.ng-valid[name="email"] {
  border-left: 4px green solid;
}

.ng-dirty.ng-invalid[name="password"] {
  border-left: 4px red solid;
}

.ng-dirty.ng-valid[name="password"] {
  border-left: 4px green solid;
}
