<div class="row">
  <div class="offset-2 col-8">
    <h1 class="text-center alert alert-primary">Login Form</h1>
    <form>
      <!-- email -->
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          placeholder=""
        />
        <label for="email">Email</label>
      </div>

      <!-- password -->
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
          placeholder=""
        />
        <label for="password">Password</label>
      </div>

      <!-- buttons - Login and Reset -->
      <div class="row">
        <div class="col">
          <div class="d-grid">
            <button class="btn btn-primary">Login</button>
          </div>
        </div>
        <div class="col">
          <div class="d-grid">
            <button class="btn btn-secondary">Reset</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
