<div class="backdrop">
  <div class="my-dialog">
    <div class="card">
      <img class="card-img-top" [src]="course.logo" [alt]="course.title" />
      <div class="card-body">
        <h4 class="card-title">{{ course.title | uppercase }}</h4>
        <p class="card-text lead">Duration : {{ course.duration }}</p>

        <div class="row mb-4">
          <div class="col">
            <div class="d-grid">
              <button class="btn btn-outline-success" (click)="onEdit()">
                Edit
              </button>
            </div>
          </div>
          <div class="col">
            <div class="d-grid">
              <button class="btn btn-outline-danger" (click)="onDelete()">
                Delete
              </button>
            </div>
          </div>
        </div>
        <p>
          Click <a routerLink="/courses">here</a> to see all available courses
        </p>
      </div>
    </div>
  </div>
</div>
