<h1>Pipe Demo Component</h1>

<h2>Custom Pipe</h2>

<p>Contact Number : {{ product.contactNumber | countryCode : "USA" }}</p>

<p>Reverse Custom Pipe : {{ product.title | reverse }}</p>

<div class="row mb-4">
  <div class="col">
    <select class="form-control" [(ngModel)]="filteredStatus">
      <option value="">Select Option</option>
      <option value="pending">Pending</option>
      <option value="completed">Completed</option>
    </select>
  </div>
  <div class="col">
    <div class="d-grid">
      <button class="btn btn-primary" (click)="onAddTodo()">
        Add New Todo
      </button>
    </div>
  </div>
</div>

<ul class="list-group">
  <li
    class="list-group-item mb-2"
    *ngFor="
      let todo of todoCollection | filter : filteredStatus | sort : 'desc'
    "
  >
    <p>
      {{ todo.label | titlecase }}
      <span class="float-end">{{ todo.status | uppercase }}</span>
    </p>
  </li>
</ul>

<hr />
<h2>Built-in Pipes</h2>

<p>Uppercase Pipe : {{ product.title | titlecase | uppercase | lowercase }}</p>

<p>Date Pipe : {{ product.launchDate | date : "MMM dd, yyyy" }}</p>

<p>Current Pipe: {{ product.price | currency : "INR" }}</p>

<p>Percent Pipe : {{ product.marketValue | percent }}</p>

<p>JSON Pipe : {{ product | json }}</p>

<p>Number Pipe : {{ product.avgSale | number : "5.1-2" }}</p>

<p>Async Pipe : {{ promise | async }}</p>
