<h1>Pipe Demo Component</h1>

<h2>Custom Pipe</h2>

<p>Contact Number : {{ product.contactNumber | countryCode : "USA" }}</p>

<hr />
<h2>Built-in Pipes</h2>

<p>Uppercase Pipe : {{ product.title | titlecase | uppercase | lowercase }}</p>

<p>Date Pipe : {{ product.launchDate | date : "MMM dd, yyyy" }}</p>

<p>Current Pipe: {{ product.price | currency : "INR" }}</p>

<p>Percent Pipe : {{ product.marketValue | percent }}</p>

<p>JSON Pipe : {{ product | json }}</p>

<p>Number Pipe : {{ product.avgSale | number : "5.1-2" }}</p>

<p>Async Pipe : {{ promise | async }}</p>
